{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Player</title>

    <link rel="stylesheet" href="{% static 'css/0_basic.css' %}">
    <link rel="stylesheet" href="{% static 'css/2_input.css' %}">
</head>
<body>
    <!-- 제목 입력 -->
    <div class="background-img">
        <form action="{% url 'input' %}" method="post" id="titleForm">
            {% csrf_token %}
            <img src="/static/img/2_1_input_top.png" alt="input_top">
            <input type="text" class="title-insert" name="new_title">
            <input type="button" class="img-btn enter-btn" onclick="enterBtn()" value="post">
        </form>
    </div>

    <!-- 유사 플리 리스트 및 커스터마이징 -->
    <div style="background-color: brown;">
        <!-- text -->
        <div>
            <h2>유사한 플리..</h2>
            <p>어쩌고 저쩌고</p>
        </div>
        <!-- 플리 정보 -->
        <div style="background-color: blueviolet;">
            <label id="plyContent">
                <!-- 유사한 플리 리스트 생성 -->
                <div>
                    <input type="checkbox" name="select_ply"/>
                    <details>
                        <summary><p>크리스마스에 듣기 좋은 노래</p></summary>
                        <div class="songbox">
                            <p>SnowMan - Sia</p>
                        </div>
                    </details>
                </div>
                <div>
                    <input type="checkbox" name="select_ply"/>
                    <details>
                        <summary><p>2번째크리스마스에 듣기 좋은 노래</p></summary>
                        <div class="songbox">
                            <p>SnowMan - ㅁ넝미ㅏㅓㄴㅇSia</p>
                        </div>
                    </details>
                </div>
            </label>
        </div>
    </div>

    <!--JS연결-->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{% static 'js/2_input.js' %}"></script> -->
</body>
</html>