{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Player</title>

    <link rel="stylesheet" href="{% static 'css/0_basic.css' %}">
    <link rel="stylesheet" href="{% static 'css/3_loading.css' %}">
</head>
<body>
    <!--input top-->
    <div class="container ">
        <div class="row">
            <div class="col"></div>
            <div class="col-12 text-center">
                <img class="logo4" src="/static/img/1_1_logo.png" alt="logo_img2">
            </div>
            <div class="col"></div>
        </div>
        
        <div class="row">
            <div class="col"></div>
            <div class="col-12 text-center">
                <img class="headline" src="/static/img/4_1_headline.png" alt="headline">
            </div>
            <div class="col"></div>
        </div>
    </div>

</body>
</html>