body{
    /* width: 1920px; */
    background-color: #0A0909;
    color: white;
}

/* .background-img{
    text-align: center;
    position: relative;

} */

input.img-btn{
    border: none;
    cursor: pointer;
    position: absolute;
}

p, span{
    font-size: 20px;
}
