.logo1 {
  width: 300px;
  height: auto;
  margin: 120px;
}

.sub1{
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  margin: -75px;
}

.title {
  margin: 0px;
  font-weight: bold;
  font-size: 70px;
  background: linear-gradient(to right,#d13f8f, #9747ff, #6d44b7, #ce4da4);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-fill-color: transparent;
  animation: gradientAnimation 2.5s linear infinite; 
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.sub2 {
  position: relative;
  top: 0px;
  width: 100%;
  height: 100%;
  color: #a8a8a8;
}

input.start-btn {
background: url(/static/img/1_1_start_btn.png) no-repeat;
width: 320px;
height: 100px;
margin: 0 auto;
position: relative;
top: -8spx;
left: 0px;
}

.howtouse {
position: relative;
top: -15px;
left: 0px;
width: 100%;
height: auto;
}

.container {
  padding: 50px; /* 두 번째 HTML 파일과 일치하도록 패딩을 조정하세요 */
  margin: 0 auto; /* 컨테이너를 수평으로 가운데 정렬합니다 */
}