body{
    /* width: 1920px; */
    background-color: #0A0909;
    color: white;
    background-image: url('/static/img/3_background.png'); /* 배경 이미지 경로 설정 */
    background-size: cover; /* 이미지가 화면을 가득 채우도록 설정 */
    background-repeat: no-repeat; /* 이미지 반복 제거 */
    background-attachment: fixed; /* 이미지가 스크롤되지 않도록 고정 */
    background-position: center center; /* 이미지 중앙 정렬 */
}

.logo3 {
    width: 300px;
    height: auto;
    margin: 240px 0px 40px;
}

.loading-title {
    font-weight: bold;
    margin-bottom: 50px;
}

.loading-p {
    font-size: 25px;
    margin: 10px 0;
}