{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>AI Player</title>
    <link rel="stylesheet" href="{% static 'css/0_basic.css'%}?after">
    <link rel="stylesheet" href="{% static 'css/1_index.css'%}?after">
  </head>
  <body>
    <div id="indexTop", class="background-img">
        <img src="/static/img/1_1_main_top.png" alt="main">
        <input type="button" class="img-btn start-btn" onclick="location.href='/input/'">
    </div>
  </body>
</html>