{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Player</title>

    <link rel="stylesheet" href="{% static 'css/0_basic.css' %}?after">
    <link rel="stylesheet" href="{% static 'css/1_index.css' %}?after">
</head>
<body>
    <!-- Main -->
    <div class="background-img">
        <img src="/static/img/1_1_main_top.png" alt="main">
        <input type="button" class="img-btn start-btn" onclick="location.href='/input/'">
    </div>

    <!-- How To Use -->
    <div class="background-img">
        <img src="/static/img/1_2_main_howtouse.png" alt="main_howtouse">
    </div>
</body>
</html>