{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 5초 후 화면 이동 -->
    <!-- <meta http-equiv="refresh" content="5; url='/output/'">   -->
    <title>AI Player</title>

    <link rel="stylesheet" href="{% static 'css/0_basic.css' %}">
    <link rel="stylesheet" href="{% static 'css/3_loading.css' %}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    {% for meta in rec_song_meta%}
       <p>{{ meta.song }} | {{ meta.artist }}</p>
    {% endfor %}
    
    {% for tag in rec_tag%}
        <p style="display: inline;">#{{ tag }} </p>
    {% endfor %}  
    <!-- <p>{{ ply_id }}</p>
    <p>{{ similarity }}</p>
    <p>{{ song_num }}</p> -->
</body>
</html>